.media-card {
    width: 154px;
}

.media-card:hover {
    cursor: pointer;
}

.carousel-title {
    font-size: 1.75em;
}

.media-image {
    border-radius: 5px;
}

.media-title {
    margin-top: 16px;
    font-weight: 600;
    font-size: 1.1em;
}
