.reviews-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.reviews-section button {
    color: var(--dark-blue);
    font-family: var(--main-font-family);
    font-weight: 600;
    width: 200px;
    align-self: center;
}

.reviews-section button:hover {
    background-color: rgba(var(--dark-grey-numeric), 0.5);
}

.reviews-section-title {
    font-size: 1.5em;
}

.reviews-section-title span {
    font-weight: 600;
}