:root {
    /* colors */
    --dark-blue: rgb(3, 37, 65);
    --light-blue: rgb(1, 180, 228);
    --light-grey: rgb(219, 219, 219);
    --dark-grey: rgb(59, 59, 59);
    --the-darkest-grey: rgb(39, 39, 39);
    --white: rgb(255, 255, 255);
    --red: rgb(194, 13, 13);
    --green: rgb(1, 131, 1);
    --yellow: rgb(252, 252, 10);
    --black: rgb(0, 0, 0);
    --gold: rgb(235, 202, 26);
    /* font weights */

    --dark-blue-numeric: 3, 37, 65;
    --dark-grey-numeric: 59, 59, 59;
    
    --main-font-family: 'Source Sans Pro', sans-serif;
}