.cast-carousel {
    width: 60%;
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding: 20px 0 40px;
    margin: auto;
}

.cast-carousel::-webkit-scrollbar {
    height: 8px;
}

.cast-carousel::-webkit-scrollbar-thumb {
    background-color: var(--light-grey);
    border-radius: 5px;
}