.carousel-media {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding: 20px 0 40px;
}

.carousel-media::-webkit-scrollbar {
    height: 8px;
}

.carousel-media::-webkit-scrollbar-thumb {
    background-color: var(--light-grey);
    border-radius: 5px;
}

.carousel-header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.carousel-tabs {
    border-radius: 37px;
    border: 1px solid var(--dark-blue);
}

.carousel-title {
    font-size: 1.75em;
}

.media-image {
    border-radius: 5px;
}

.media-title {
    margin-top: 28px;
    font-weight: 600;
}

.image-rating-container{
    position: relative;
}
